/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input:focus, select:focus {
    outline: none;
}

.main-container {
    height: 100vh;
    color: white;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------------------------------------- basic skeleton of board ------------------------------------------------- */
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(37, 37, 113);
    background-image: url(sparkle-65.gif);
}
.board {
    width: 40vw;
    height: 68vh;
    font-size: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*---------------------------------------------board styling---------------------------------------------------------------*/
.board{
    background-color: aliceblue;
    border: 1px dotted black;
}

.cell {
    border-bottom: 1px dotted black;
    border-right: 1px dotted black;
    color: black;
}

.cell:hover{
    background-color: rgb(199, 185, 243);
}

.board .cell:nth-child(3n) {
    border-right: none;
}

.board .cell:nth-child(n+7) {
    border-bottom: none;
}

/*-----------------------------------------main container styling-----------------------------------------------------------*/

#title {
    font-size: 4rem;
    text-align: center;
    margin: 20px 0px;
    text-wrap: wrap;
}

#player-turn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 20px auto;
}

.player-turn-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.player-title {
    font-size: 1.5rem;
    border: none;
    background: none;
    outline: none;
    width: 100px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.pfp {
    height: 70px;
    width: 70px;
    background-color: rgb(159, 159, 234);
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.player-one, .player-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.restart{
    font-size: 1.2rem;
    padding: 1.4rem 1.1rem;
    margin: 20px 0px;
    background-color: rgb(159, 159, 234);
    color: white;
    border: none;
    border-radius: 10px;
}

.restart:hover {
    background-color: aliceblue;
    color: black;
    transform: scale(1.1);
}



